<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.tinted_knight.sberbanksms">

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.SberApplication">
        <activity
            android:name=".ui.main_screen.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".Tools.DB.MessageContentProvider"
            android:authorities="ru.tinted_knight.sberbanksms.content"
            android:exported="false"/>

        <receiver android:name=".broadcastreceiver.SmsReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".Settings.Settings">
        </activity>
        <activity android:name=".Settings.Agents.Agents2Activity">
        </activity>
        <activity android:name=".Settings.Agents.AgentEditActivity">
        </activity>
        <activity android:name=".Settings.Agents.AliasesActivity">
        </activity>
        <activity android:name=".Settings.Agents.AliasEditActivity">
        </activity>
        <activity android:name=".Settings.Cards.CardsListActivity">
        </activity>
        <!-- <activity android:name=".list_MainActivityvity"> -->
        <!-- </activity> -->
        <activity android:name=".ui.settings.agents.AgentsActivity">
        </activity>
    </application>

</manifest>